@import "_normalize";
@import "_variables";
@keyframes Bump {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

html {
  box-sizing: border-box;
  background-color: #3767ad;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #3767ad;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}
.main__header  {
  
  display: flex;
  justify-content: center;
  align-items: center;
color: whitesmoke;

  
}

.button {
  display: flex;
  margin-top: 48px;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  transition: background .8s ease-in-out;
  &__add {
    font-weight: bold;
    font-size: 14px;
    width: 216px;
    height: 47px;
    border-radius: 4px;
    background-color: fffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #FFFFFF;
   
    &:hover {
      background:#EAFFFD ;
      transform: scale(1.01);
    }
  }
  &__remove {
    margin-top: 37px;
    background: none;
    border: none;
    color: #F5E5E7;
    font-weight: lighter;
    font-size: 14px;
    &:hover {
      color:#FF6F59 ;
    }
  }
}
.glass{ 
  
  
  &__count { 
  display: flex;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
 
  margin-top: -140px ;
  
  
  background: none;
  border: none;
  font-family: Roboto;

  font-weight: 500;
  font-size: 112px;
  line-height: 131px;
  
}
.glass__yesterday{ 
display: flex; 
justify-content: left;
align-items: center;
scale: 0.5;
 
}
}

.table {
  display: grid; 
  grid-template-areas: 
  "caption caption"
  "header header"
  
  "content content"; 
  grid-template-columns: 200px 1 fr;
  &__a {
    grid-area: content;
  }
  &__b {
    grid-area: content;
  }
&__caption {
  grid-area: caption;
}
&list {
  
  background-color: whitesmoke;
 

}
&__yesterday {
  grid-area: header; 
  background-color: yellow;
}
&__today {
  grid-area: header; 
  background-color: yellowgreen;
}
}
